<header id="index-header">
    <div class="wrapper">
      <h1 class="logo"><a href="/"><%= logoName %></a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/stats">Tracker</a></li>
          <li><a href="/stats/new">Add Today's Stats</a></li>
        </ul>
      </nav>
    </div>
  </header>
