<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>To Do App</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<% include ./partials/header.ejs %>

<h2 id="welcome"><%= message %></h2>


<a href="/stats" class="button"><%= statsLink %></a>





<% include ./partials/footer.ejs %>
</body>
</html>
